{{>page_start.template}}
{{>page_menu.template}}
      {{#test_set}}<h1>{{test_title}}</h1>
	      <p>{{instructions}}</p>
	      <h2>Valaszlehetosegek</h2>
	      <p>
	        <ol>
	          {{#answers}}<li>{{answer_value}}</li>
	          {{/answers}}
	        </ol>
	        {{#answer_note_present}}
	        <div class="alert alert-warning" roler="alert">
	          <string>!!! </strong>{{answer_note}}
	        </div>
	        {{/answer_note_present}}
	      </p>
	      <h2>Kerdesek</h2>
	      <p>
	        <form action="test" method="post">
	          <input type="hidden" name="username" value="{{responder_name}}" />
	          <input type="hidden" name="age" value="{{responder_age}}" />
	          <input type="hidden" name="test" value="{{test_name}}" />
		      <table class="table">
		        {{#questions}}<tr>
		          <td>{{question}}</td>
		          <td><select name="answer_{{question-id}}"><option value="-">-</option>{{#answers}}<option value="{{answer_value}}">{{answer_value}}</option>{{/answers}}</select></td>
		        </tr>{{/questions}}
		      </table>
		      <button type="submit" class="btn btn-default">Submit</button>
	        </form>
	      </p>
      {{/test_set}}
      {{^test_set}}
      <h1>Nem valasztottal tesztet</h1>
      <p>Valassz ki egy tesztet, es probald ujra.</h1>
      {{/test_set}}
{{>page_end.template}}